.container {
  display: flex;
  justify-content: center;
  .group_form {
    width: 40%;
    border: 2px solid #CCCCCC;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 20px 20px;
  }
  .group {
    width: 40%;
    border: 2px solid #CCCCCC;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 20px 20px;
      h1 {
        font-size: 30px;
      }
      h2 {
        font-size: 25px;
      }
      h3 {
        font-size: 15px;
      }
      .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
  }
}
