$main_color: #7F8C8D;
$background: #ECF0F1;
$accents: #BDC3C7;

.container {
  display: flex;
  justify-content: center;
  .group_graphs {
    width: 100%;
    border: 2px solid #CCCCCC;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 20px 20px;
    background-color: $background;
    opacity: 0.85;
  }
  .group_form {
    width: 100%;
    border: 2px solid #CCCCCC;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 20px 20px;
    background-color: $background;
    opacity: 0.85;
  }
  .group {
    width: 100%;
    border: 2px solid #CCCCCC;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 20px 20px;
    background-color: $background;
    opacity: 0.85;
    .class_details {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .class_time {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        h2 {
          margin-right: 15px;
        }
      }
      .add_member {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
      }
    }
    .member_detail {
      display: flex;
      flex-direction: row;
      border: 3px solid #CCCCCC;
      border-radius: 10px;
      .member_thumb {
        border-right:  3px solid #CCCCCC;
        margin-right: 10px;
          img {
          border-radius: 10px 0 0 10px;
        }
      }
    }
      h2 {
        font-size: 25px;
      }
      h3 {
        font-size: 15px;
      }
  }
}
