$main_color: #7F8C8D;
$background: #ECF0F1;
$accents: #BDC3C7;

.container {
  display: flex;
  justify-content: center;
  .measurement_form {
    width: 90%;
    border: 2px solid #CCCCCC;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 20px 0;
    padding: 20px 20px;
    background-color: $background;
    opacity: 0.85;
  }
  .measure_show {
    width: 90%;
    border: 2px solid #CCCCCC;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 20px 0;
    padding: 20px 20px;
    background-color: $background;
    opacity: 0.85;
    .measure_header {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      .measurement_header_text{
        flex-direction: column;
      }
    }
      h1 {
        font-size: 30px;
      }
      h2 {
        font-size: 25px;
      }
      h3 {
        font-size: 15px;
      }
      .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
  }
}
