$main_color: #7F8C8D;
$background: #ECF0F1;
$accents: #BDC3C7;

.container {
  display: flex;
  justify-content: center;
  .member_graphs {
    width: 90%;
    border: 2px solid #CCCCCC;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 20px 0;
    padding: 20px 20px;
    background-color: $background;
    opacity: 0.85;
  }
  .member {
    width: 90%;
    border: 2px solid #CCCCCC;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 20px 0;
    padding: 20px 20px;
    background-color: $background;
    opacity: 0.85;
    .member_show_header {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .member_header_left {

        .slide {
          height: 270px;
          width: 250px;
          .toBeFaded {
            display: none;
            position:absolute;
            font-size: 20px;
          }
        }
      }
      .member_header_right {
        flex-direction: column;
        align-content: center;
      }
    }
    .member_measurements {
      display: flex;
      flex-direction: row;
      .member_measurement_image {
        border-radius: 4px;
        border: 1px solid #CCCCCC;
      }
      .member_measurement_details {
        flex-direction: column;
        margin-left: 10px;
        }
      }
  }
  .members-index{
    width: 90%;
    border: 2px solid #CCCCCC;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 20px 0;
    padding: 20px 20px;
    background-color: $background;
    opacity: 0.85;
  }
  .member_form {
    width: 90%;
    border: 2px solid #CCCCCC;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 20px 0;
    padding: 20px 20px;
    background-color: $background;
    opacity: 0.85;
  }
  .group {
    width: 90%;
    border: 2px solid #CCCCCC;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 20px 0;
    padding: 20px 20px;
    background-color: $background;
    opacity: 0.85;
      h1 {
        font-size: 30px;
      }
      h2 {
        font-size: 25px;
      }
      .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
  }
}

.member_show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #CCCCCC;
  border-radius: 10px;
  padding: 20px 20px;
  margin: 20px 0;
    h1 {
      font-size: 25px;
    }
}
