.container {
  display: flex;
  justify-content: center;
  .slide {
    height: 270px;
    width: 250px;
    .toBeFaded {
      display: none;
      position:absolute;
      font-size: 20px;
    }
  }
  .member_form {
    width: 80%;
    border: 2px solid #CCCCCC;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 20px 20px;
  }
  .group {
    width: 80%;
    border: 2px solid #CCCCCC;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 20px 20px;
      h1 {
        font-size: 30px;
      }
      h2 {
        font-size: 25px;
      }
      .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
  }
}

.member_show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #CCCCCC;
  border-radius: 10px;
  padding: 20px 20px;
  margin: 20px 0;
    h1 {
      font-size: 25px;
    }
}
