$main_color: #7F8C8D;
$background: #ECF0F1;
$accents: #BDC3C7;

.container {
  display: flex;
  justify-content: space-between;
  .login_about {
    width: 50%;
    border: 2px solid lighten($main_color, 10%);;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 20px 20px;
    background-color: $main_color;
    opacity: 0.85;
  }
    .login_form {
      width: 40%;
      border: 2px solid #CCCCCC;
      border-radius: 5px;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items: center;
      margin-top: 20px;
      padding: 20px 20px;
      background-color: $background;
      opacity: 0.80;
        .buttons {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
        }
    }

}
