$main_color: #7F8C8D;
$background: #ECF0F1;
$accents: #BDC3C7;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  .registration_title {
    margin: 0 auto;
    opacity: 0.85;
      h1 {
      border-radius: 5px;
      border: 2px solid $main_color;
      background-color: #333332;
      padding: 10px;
      font-size: 80px;
      margin: 40px 0;
      color: #ECF0F1;
      }
    }
    .registration {
        display: flex;
        flex-direction: row;
      .registration_form {
        width: 45%;
        border: 2px solid #CCCCCC;
        border-radius: 5px;
        margin: 0 auto;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin-top: 20px;
        padding: 20px 20px;
        background-color: $background;
        opacity: 0.80;
        .buttons {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
        }
      }
    }
    .registration_about {
      width: 45%;
      border: 2px solid lighten($main_color, 10%);
      border-radius: 5px;
      margin: 0 auto;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items: center;
      margin-top: 20px;
      padding: 20px 20px;
      background-color: $main_color;
      opacity: 0.85;
      .registration_bullet {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h3 {
          font-size: 20px;
        }
      }
    }
    .registration_footer {
      padding: 45px 0;
      margin: 0 auto;
      i {
        color: #FFFFFF;
        opacity: 0.95;
      }
    }
  .user_show {
    width: 90%;
    border: 2px solid #CCCCCC;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 20px 0;
    padding: 20px 20px;
    background-color: $background;
    opacity: 0.85;
      .gym_header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .gym_name {
          display: flex;
          flex-direction: row;
          align-items: baseline;
          i {
            margin-left: 10px;
          }
        }
      }
      .buttons {
        display: flex;
        flex-direction: row;
        margin-bottom: 15px;
        align-items: center;
        justify-content: space-between;
        h2 {
          font-size: 25px;
        }
      }
    }
    .user_form {
      width: 90%;
      border: 2px solid #CCCCCC;
      border-radius: 10px;
      justify-content: center;
      align-content: center;
      align-items: center;
      margin-top: 20px;
      padding: 20px 20px;
      background-color: $background;
      opacity: 0.85;
    }
}
