.container {
  display: flex;
  justify-content: center;
  .registration_form {
    width: 80%;
    border: 2px solid #CCCCCC;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 20px 20px;
  }
  .user_show {
    width: 80%;
    border: 2px solid #CCCCCC;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 20px 20px;
      .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
    }
    .user_form {
      width: 80%;
      border: 2px solid #CCCCCC;
      border-radius: 10px;
      justify-content: center;
      align-content: center;
      align-items: center;
      margin-top: 20px;
      padding: 20px 20px;
    }
}
