<div class="app_nav">
  <ul class="nav nav-pills">
      <li>
        <%= link_to user_path(id: @current_user.id), class: "button" do %>
          <i class="glyphicon glyphicon-home gi-3x"></i>
        <% end %>
      </li>
      <li>
        <%= link_to members_path, class: "button" do %>
          <i class="glyphicon glyphicon-list-alt gi-3x"></i>
        <% end %>
      </li>
      <li>
        <%= link_to user_path(id: @current_user.id), class: "button" do %>
          <i class="glyphicon glyphicon-stats gi-3x"></i>
        <% end %>
      </li>
      <li>
        <%= link_to quick_add_path, class: "button" do %>
          <i class="glyphicon glyphicon-plus gi-3x"></i>
        <% end %>
      </li>
  </ul>
</div>
