<%= render "layouts/header" %>

<div class="container">
  <div class="members-index">

    <% @members.each do |member| %>
    <ul>
      <li><%= member.member_last_name %>, <%= member.member_first_name %></li>
    </ul>
    <% end %>


  </div>
</div>
